:root{
  --primary: #20B2AA;
  --secondary: #008080;
  --background: #ffffff;
  --text_primary: #1AA9A2;
  --text_foreground: #ffffff;
}

*,*::after,*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";   /*Can be any text*/
  src: local("Inter"),
    url("./fonts/Inter_18pt-Regular.ttf") format("truetype");
}

body {
  min-height: 100vh;
  font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
